@page "/"

@using LolChallenges.Web.Components

<PageTitle>Index</PageTitle>

<h1>Hello, welcome to the LOL Challenges Website!</h1>

To view a challenge leaderboard, search for it below!

<MainSearch />