@page "/"

@using LolChallenges.Client.Components

<PageTitle>Index</PageTitle>

<div style="margin: 15vh auto; max-width: 750px">
    <div class="pb-3">
        <MudText Typo="Typo.h2" Align="Align.Center">Challenges.LoL</MudText>
        <MudText Typo="Typo.subtitle1" Align="Align.Center">Find any information you need about challenges in League of Legends</MudText>
    </div>
    <MainSearch />
</div>